* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Layout principal */
.container {
  display: flex;
  height: 100vh;
}

/* Barra de Pesquisa */
.floating-search {
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 600px; 
 
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4d0000;
  border-radius: 30px;
  padding: 8px 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  width: 100%;
}

.search-bar input[type="text"] {
  flex: 1;
  border: none;
  background: transparent;
  color: #ddd;
  font-size: 1rem;
  outline: none;
  padding: 8px;
}

.search-bar button {
  background: none;
  border: none;
  color: #f12727;
  font-size: 1.2rem;
  cursor: pointer;
}

.search-bar button i {
  color: #b8a5a5;
  font-size: 17px;
}


.populares h2 {
    text-align: center;
    margin-top: 150px;
    color: #fff;
}

#results {
  background-color: #4d0000; 
  padding: 1rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 0px;
  margin-left: 30px;
}

#results li {
  display: flex;
  align-items: center;
  margin: .75rem 0;
  padding: 0.5rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#results li:hover {
  background-color: #660000; 
}

#results li img {
  width: 80px;
  height: 45px;
  object-fit: cover;
  margin-right: 10px;
}

#results li span {
  color: white;
  font-size: 14px;

}
#results:empty {
  background: none;
  padding: 0;
}

#player {
  width: 100%;
  height: 360px;
  display: none;
  margin-top: 1rem;
  margin-left: 13px;
  
}
