body.dark-theme {
  margin: 0;
  background-color: #000;
  color: #fff;
  font-family: 'Segoe UI', sans-serif;
}

.main-content.no-sidebar {
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px 20px;
  background-color: #000;
}

h1 {
  margin-bottom: 20px;
  color: white;
}

.search-user {
  width: 100%;
  max-width: 400px;
  padding: 12px;
  border-radius: 25px;
  border: none;
  background-color: #400000;
  color: white;
  margin-bottom: 20px;
  outline: none;
}

.search-user::placeholder {
  color: #ccc;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #1c1c1c;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
}

.user-table th,
.user-table td {
  padding: 12px 16px;
  border-bottom: 1px solid #333;
  text-align: left;
  color: white;
}

.user-table tr:hover {
  background-color: #2a2a2a;
}

button {
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  background-color: #e60000;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: #960202;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background: #1e1e1e;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  color: white;
}

.modal-content input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 4px;
  background-color: #2a2a2a;
  border: none;
  color: white;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.back-button {
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px 16px;
  background-color: #400000;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-size: 14px;
  transition: background-color 0.3s;
}

.back-button:hover {
  background-color: #600000;
}

.back-button i {
  margin-right: 8px;
}
