/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Corpo da página */
body {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Layout principal */
.container {
  display: flex;
  height: 100vh;
}

/* Barra de busca fixa no topo */
.floating-search {
  position: fixed;
  top: 20px;
  left: 45%;
  transform: translateX(-50%);
  z-index: 100;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #4d0000;
  border-radius: 30px;
  padding: 5px 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

.search-bar input[type="text"] {
  border: none;
  background: transparent;
  color: rgb(221, 221, 221);
  font-size: 1rem;
  outline: none;
  width: 250px;
}

.search-bar button {
  background: none;
  border: none;
  color: #f12727;
  font-size: 1.2rem;
  cursor: pointer;
}

.search-bar button i {
  color: #b8a5a5;
  font-size: 17px;
}

.populares h2 {
  text-align: center;
  color: white;
  margin-left: 110px;
  margin-top: 150px;
}

.main-content {
  flex-grow: 1;
  padding: 60px 50px; /* afasta da sidebar */
}

.profile-section {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 100px; /* Abaixado para não colidir com a barra de busca */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-section img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #e60000;
  margin-bottom: 15px;
}

.profile-section button {
  background-color: #e60000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-form {
  background-color: #111;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  margin: 0 auto 30px auto;
}

.edit-form input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
}

.edit-form button {
  background-color: #e60000;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.liked-songs h3 {
  color: #e60000;
  text-align: center;
}

.liked-songs ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.liked-songs li {
  margin: 8px 0;
  font-size: 16px;
}

.hidden {
  display: none;
}
